{% extends "base.html" %}
{% block content %}
<h1>Dashboard</h1>
You are currently logged in as {{ session.display }} ({{ session.user }}).
You can <a href="{{ url_for("logout") }}">logout</a> or
<form action="{{ url_for("signout_all_sessions") }}" method="POST" class="inline">
    <input type="hidden" name="csrf" value="{{ session.csrf }}" />
    <button class="linkbutton" type="submit">logout globally.</button>
</form>

<h2>Your current sessions</h2>
{% if sessions %}
<table>
    <thead>
        <tr>
            <th>Domain</th>
            <th>Issued</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
        <tr>
            <td>{{ session.domain }}</td>
            <td>{{ session.issued.strftime("%Y-%m-%d %H:%M") }}</td>
            <td>(none available)</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>You have no current sessions.</p>
{% endif %}
<h2>Your grants</h2>
{% if grants %}
<ul>
    {% for grant in grants %}
    <li>{{ grant.domain }} (<form class="inline" method="POST" action="{{ url_for("remove_grant") }}">
            <input type="hidden" name="csrf" value="{{ session.csrf }}"/>
            <input type="hidden" name="domain" value="{{ grant.domain }}" />
            <button class="linkbutton" type="submit">Remove grant</button>
        </form>)
    </li>
    {% endfor %}
</ul>
{% else %}
<p>You have no grants.</p>
{% endif %}
{% endblock %}
